@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SF;
  src: url("/SF-Pro-Text-Regular.otf");
  font-weight: 300;
}
@layer base {
  body {
    background: #1d2125;
    color: #b6c2cf;
    font-family: SF;
    color-scheme: dark;
  }
}

@layer components {
  .add-todo::-webkit-scrollbar {
    display: none;
  }
}
